html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
  .skills h3{
    padding: 1vw 2vw;
    font-size: 2vw;
    border: 1.5px solid #0872bf;
    border-radius: 50px;
    opacity: 0;
    filter: blur(10px);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  }